<?php if (($_products = $this->getCollection()) && $_products->getSize()){ ?>
<?php
    $productBlock = $this->getLayout()->createBlock('catalog/product_price');
?>
<div class="widget widget-new-products">
    <div class="widget-title">
        <h2><?php echo $this->__('Bestseller Products') ?></h2>
    </div>
    <div class="widget-products">
        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col-widget home_bestseller">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item">
                    <?php $_imgSize = 210; ?>
                    <?php // The image size is locked at 210 for this for display purposes. CSS has it at 75% which should equate to 278px?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(210) ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" />
                    </a>
                    <div class="product-info">
                        <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>
                        <?php echo $productBlock->getPriceHtml($_product, true, '-widget-new-grid') ?>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if($_compareUrl=Mage::helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
    <?php
    $itemShow = Mage::helper('bestseller')->checkLayout();
    ?>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.home_bestseller').slick({
            infinite: true,
            slidesToShow: <?php echo $itemShow ; ?>,
            slidesToScroll: <?php echo $itemShow ; ?>
        });
    });
</script>
<?php } ?>